    {% extends "base.html" %}
    {% block body_content %}
    <div id="headerwrap">
      <header class="clearfix">
        <h1><span>Assetsearcher!</span> {{ type }} assetment searching.</h1>
        <div class="container">
          <div class="row">
            <div class="span12">
              <h2>Input content to search for</h2>
              <form action="/{{ searchtype }}/" method="post">
              <input type="text" name="search" placeholder="searhcing content" class="cform-text" size="40" title="your email">
              <input type="submit" value="Searching" class="cform-submit">
              </form>
            </div>
          </div>
          <div class="row">
            <div class="span12">
              <ul class="icon">
                <li><a href="#" target="_blank"><i class="icon-pinterest-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-facebook-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-twitter-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-gplus-circled"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-skype-circled"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
    </div>
    {% endblock %}